In [1]:
import glob
import pandas as pd
import numpy as np
from IPython.core import display as ICD

# 2016

In [2]:
df_2016_week8 = pd.read_csv('../Datasets/SA Feedback Surveys_FINAL/2016/Week 8 Feedback (2016, incomplete) - results.csv')
# df_2016_week8 = df_2016_week8.reset_index()
df_2016_week8 = df_2016_week8.drop(['track', 'Start Date (UTC)', 'Submit Date (UTC)', 'Network ID', '#'], axis=1)
df_2016_week8 = df_2016_week8.rename({'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'Rating (Num)', 'location': 'Location'}, axis=1)
df_2016_week8['Week'] = 8
df_2016_week8['Year'] = 2016
df_2016_week8.head()

   Rating (Num)       Location  Week  Year
0            10       New York     8  2016
1            10  San Francisco     8  2016
2            10       New York     8  2016
3             9      Sunnyvale     8  2016
4             3  San Francisco     8  2016

## Anon

In [3]:
files = glob.glob('../Datasets/SA Feedback Surveys_FINAL/2016/Anon *.csv')
datasets = { file: pd.read_csv(file) for file in files }

In [4]:
df_2016_anons = []

for dataset in datasets:
    name = dataset.split('/')[-1]
    print(name)
    name_split = name.split()
    df = datasets[dataset]
    
    num_ratings = pd.to_numeric(df['How would you rate your overall satisfaction with the Summer Academy this week?'], errors='coerce').apply(lambda x: x * 2)
    
    df_week = pd.DataFrame({'Rating (Num)': num_ratings, 'Week': int(name_split[2]), 'Location': name_split[-1].split('.')[0], 'Year': 2016})
    ICD.display(df_week.head())
    df_2016_anons.append(df_week)

Anon Week 7 Feedback - Taipei.csv

   Rating (Num)  Week Location  Year
0             6     7   Taipei  2016
1             8     7   Taipei  2016
2             8     7   Taipei  2016
3             8     7   Taipei  2016
4            10     7   Taipei  2016

Anon Week 6 Feedback - Tokyo.csv

   Rating (Num)  Week Location  Year
0             6     6    Tokyo  2016
1             8     6    Tokyo  2016
2             8     6    Tokyo  2016
3             8     6    Tokyo  2016
4            10     6    Tokyo  2016

Anon Week 1 Feedback - Singapore.csv

   Rating (Num)  Week   Location  Year
0             4     1  Singapore  2016
1             4     1  Singapore  2016
2             6     1  Singapore  2016
3             8     1  Singapore  2016
4             8     1  Singapore  2016

Anon Week 7 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0             6     7       LA  2016
1            10     7       LA  2016
2             8     7       LA  2016
3             8     7       LA  2016
4             8     7       LA  2016

Anon Week 4 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0            10     4       SF  2016
1             8     4       SF  2016
2             8     4       SF  2016
3             6     4       SF  2016
4             8     4       SF  2016

Anon Week 5 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             8     5       SV  2016
1            10     5       SV  2016
2             6     5       SV  2016
3             4     5       SV  2016
4             8     5       SV  2016

Anon Week 4 Feedback - SG.csv

   Rating (Num)  Week Location  Year
0             8     4       SG  2016
1             8     4       SG  2016
2             6     4       SG  2016
3             8     4       SG  2016
4             6     4       SG  2016

Anon Week 6 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0             4     6       NY  2016
1             8     6       NY  2016
2             8     6       NY  2016
3            10     6       NY  2016
4            10     6       NY  2016

Anon Week 5 Feedback - HK.csv

   Rating (Num)  Week Location  Year
0             8     5       HK  2016
1            10     5       HK  2016
2            10     5       HK  2016

Anon Week 1 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0             6     1       SF  2016
1             6     1       SF  2016
2             6     1       SF  2016
3             6     1       SF  2016
4             8     1       SF  2016

Anon Week 2 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0             8     2       LA  2016
1             6     2       LA  2016
2             8     2       LA  2016
3             8     2       LA  2016
4             8     2       LA  2016

Anon Week 6 Feedback - Taipei.csv

   Rating (Num)  Week Location  Year
0            10     6   Taipei  2016
1            10     6   Taipei  2016
2            10     6   Taipei  2016
3            10     6   Taipei  2016
4             8     6   Taipei  2016

Anon Week 3 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0             8     3       NY  2016
1            10     3       NY  2016
2             8     3       NY  2016
3            10     3       NY  2016
4             8     3       NY  2016

Anon Week 6 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0            10     6       LA  2016
1            10     6       LA  2016
2             6     6       LA  2016
3             2     6       LA  2016
4            10     6       LA  2016

Anon Week 5 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0             6     5       SF  2016
1             8     5       SF  2016
2             8     5       SF  2016
3             8     5       SF  2016
4             6     5       SF  2016

Anon Week 5 Feedback - SG.csv

   Rating (Num)  Week Location  Year
0             8     5       SG  2016
1             8     5       SG  2016
2             8     5       SG  2016
3             8     5       SG  2016
4             8     5       SG  2016

Anon Week 4 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             4     4       SV  2016
1             6     4       SV  2016
2             8     4       SV  2016
3             8     4       SV  2016
4            10     4       SV  2016

Anon Week 7 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0             6     7       NY  2016
1            10     7       NY  2016
2            10     7       NY  2016
3             8     7       NY  2016
4             8     7       NY  2016

Anon Week 3 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0             8     3       LA  2016
1             8     3       LA  2016
2             8     3       LA  2016
3             8     3       LA  2016
4             8     3       LA  2016

Anon Week 2 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0             6     2       NY  2016
1             6     2       NY  2016
2             6     2       NY  2016
3             6     2       NY  2016
4             8     2       NY  2016

Anon Week 1 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             4     1       SV  2016
1             6     1       SV  2016
2             6     1       SV  2016
3             6     1       SV  2016
4             6     1       SV  2016

Anon Week 5 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0             6     5       LA  2016
1             8     5       LA  2016
2            10     5       LA  2016
3             8     5       LA  2016
4             8     5       LA  2016

Anon Week 6 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0             8     6       SF  2016
1             6     6       SF  2016
2             4     6       SF  2016
3             8     6       SF  2016
4             6     6       SF  2016

Anon Week 6 Feedback - SG.csv

   Rating (Num)  Week Location  Year
0             8     6       SG  2016
1            10     6       SG  2016
2            10     6       SG  2016
3             8     6       SG  2016
4             6     6       SG  2016

Anon Week 7 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             6     7       SV  2016
1            10     7       SV  2016
2             6     7       SV  2016
3             8     7       SV  2016
4             8     7       SV  2016

Anon Week 4 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0            10     4       NY  2016
1            10     4       NY  2016
2             8     4       NY  2016
3             8     4       NY  2016
4             8     4       NY  2016

Anon Week 3 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0             6     3       SF  2016
1            10     3       SF  2016
2             6     3       SF  2016
3             2     3       SF  2016
4            10     3       SF  2016

Anon Week 1 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0             6     1       NY  2016
1             6     1       NY  2016
2             6     1       NY  2016
3             8     1       NY  2016
4             8     1       NY  2016

Anon Week 2 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             6     2       SV  2016
1             6     2       SV  2016
2             6     2       SV  2016
3             6     2       SV  2016
4             6     2       SV  2016

Anon Week 3 Feedback - SG.csv

   Rating (Num)  Week Location  Year
0             8     3       SG  2016
1            10     3       SG  2016

Anon Week 4 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0            10     4       LA  2016
1            10     4       LA  2016
2            10     4       LA  2016
3            10     4       LA  2016
4             6     4       LA  2016

Anon Week 7 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0            10     7       SF  2016
1             6     7       SF  2016
2            10     7       SF  2016
3            10     7       SF  2016
4             8     7       SF  2016

Anon Week 6 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0             8     6       SV  2016
1            10     6       SV  2016
2            10     6       SV  2016
3             8     6       SV  2016
4             6     6       SV  2016

Anon Week 6 Feedback - HK.csv

   Rating (Num)  Week Location  Year
0            10     6       HK  2016
1             8     6       HK  2016
2            10     6       HK  2016

Anon Week 5 Feedback - NY.csv

   Rating (Num)  Week Location  Year
0            10     5       NY  2016
1            10     5       NY  2016
2             8     5       NY  2016
3             8     5       NY  2016
4            10     5       NY  2016

Anon Week 2 Feedback - SF.csv

   Rating (Num)  Week Location  Year
0             4     2       SF  2016
1             6     2       SF  2016
2             6     2       SF  2016
3             6     2       SF  2016
4             8     2       SF  2016

Anon Week 1 Feedback - LA.csv

   Rating (Num)  Week Location  Year
0             6     1       LA  2016
1             8     1       LA  2016
2             8     1       LA  2016
3             8     1       LA  2016
4             8     1       LA  2016

Anon Week 2 Feedback - SG.csv

   Rating (Num)  Week Location  Year
0             8     2       SG  2016
1             6     2       SG  2016
2             6     2       SG  2016
3             6     2       SG  2016
4             8     2       SG  2016

Anon Week 3 Feedback - SV.csv

   Rating (Num)  Week Location  Year
0          10.0     3       SV  2016
1          10.0     3       SV  2016
2           8.0     3       SV  2016
3           8.0     3       SV  2016
4           8.0     3       SV  2016

# 2017

In [5]:
df_2017 = pd.read_csv('../Datasets/SA Feedback Surveys_FINAL/2017/Student Feedback Surveys-Superview.csv')

df_2017 = df_2017.drop(['ID', 'Track', 'Schedule Pacing'], axis=1)
df_2017['Week'] = df_2017['Week'].apply(lambda x: int(x.split()[-1]))
df_2017['Rating (Num)'] = pd.to_numeric(df_2017['Rating (Num)'], errors='coerce')
df_2017['Year'] = 2017

df_2017.head()

        Location  Week  Rating (Num)  Year
0  San Francisco     1           3.0  2017
1    Los Angeles     1           4.0  2017
2  San Francisco     1           4.0  2017
3            NaN     2           4.0  2017
4  New York City     1           4.0  2017

# Combined

In [6]:
df = pd.concat([df_2016_week8, *df_2016_anons, df_2017], sort=False)

In [7]:
df

      Rating (Num)       Location  Week  Year
0             10.0       New York     8  2016
1             10.0  San Francisco     8  2016
2             10.0       New York     8  2016
3              9.0      Sunnyvale     8  2016
4              3.0  San Francisco     8  2016
5             10.0  San Francisco     8  2016
6              8.0  San Francisco     8  2016
7              3.0       New York     8  2016
8              6.0      Singapore     8  2016
9              9.0       New York     8  2016
10            10.0      Sunnyvale     8  2016
11            10.0  San Francisco     8  2016
12             8.0  San Francisco     8  2016
13             8.0      Sunnyvale     8  2016
14             8.0    Los Angeles     8  2016
15            10.0  San Francisco     8  2016
16             9.0      Sunnyvale     8  2016
17            10.0       New York     8  2016
18             7.0      Singapore     8  2016
19            10.0  San Francisco     8  2016
20            10.0  San Francisco     8  2016
21            10.0      Sunnyvale     8  2016
22             4.0       New York     8  2016
23             9.0  San Francisco     8  2016
24            10.0      Sunnyvale     8  2016
25             9.0      Sunnyvale     8  2016
26            10.0  San Francisco     8  2016
27            10.0      Sunnyvale     8  2016
28             7.0      Sunnyvale     8  2016
29            10.0  San Francisco     8  2016
...            ...            ...   ...   ...
1423          10.0  New York City     7  2017
1424           8.0  New York City     7  2017
1425           9.0  New York City     7  2017
1426          10.0  New York City     7  2017
1427           9.0  New York City     7  2017
1428           9.0  New York City     7  2017
1429           8.0  New York City     7  2017
1430          10.0  New York City     7  2017
1431          10.0  New York City     7  2017
1432           9.0  New York City     7  2017
1433           9.0  New York City     7  2017
1434          10.0  New York City     7  2017
1435           8.0  New York City     7  2017
1436           7.0  New York City     7  2017
1437           7.0  New York City     7  2017
1438           7.0  New York City     7  2017
1439           9.0  New York City     7  2017
1440           8.0  New York City     7  2017
1441           7.0  New York City     7  2017
1442          10.0  New York City     7  2017
1443          10.0  New York City     7  2017
1444           9.0  New York City     7  2017
1445           9.0  New York City     7  2017
1446           3.0  New York City     7  2017
1447          10.0  New York City     7  2017
1448          10.0  New York City     7  2017
1449           8.0  New York City     7  2017
1450          10.0  New York City     7  2017
1451           1.0  New York City     7  2017
1452           8.0  New York City     5  2017

[2445 rows x 4 columns]